rules_version='2';
service firebase.storage{
 match /b/{bucket}/o{
  function signedIn(){return request.auth!=null;}
  function admin(){return signedIn()&&firestore.get(/databases/(default)/documents/users/$(request.auth.uid)).data.status=="admin";}
  match /market/{uid}/{fileName}{
   allow read:if true;
   allow create:if signedIn()&&request.auth.uid==uid&&request.resource.size<5*1024*1024&&request.resource.contentType.matches('image/(jpeg|png|webp)');
   allow delete:if admin()||(signedIn()&&request.auth.uid==uid);
  }
 }}